<div class="container-fluid <%= @city_css_class %>">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand greytext">#erasedbycovid</h3>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading cityname-headline"> <%= "What if every single person in #{@city.name }, #{@city.state} was dead?" %> </h1>
      <br />
      <h4 class="greytext">COVID19 has killed <span class="bold-white"> <%= separate_comma(@current_covid_deaths) %> </span> people in the U.S. </h4>
      <h4 class="greytext"> The population of <%= @city.name %> is <span class="bold-white"> <%= separate_comma(@city.population) %> </span> </h4>
      <p class="greytext">
        <% if @city.extra_barclays > 1 %>
          So add in <%= @city.extra_barclays %> at-capacity Barclays Centers full of people, dead.
        <% elsif @city.extra_barclays < 1 %>

        <% else %>
          So add in one at-capacity Barclays Center full of people, dead.
        <% end %>
      </p>
      <br />
      <br />

      <div class="container greytext">
        <h4> If our leaders and citizens had acted responsibly, our death rate would not be <br /> <span class="bold-white"><%= current_covid_deaths_per_m %> per million. </span> </h4>
        <h4> We could have had death rates like: </h4>
        <br />
        &nbsp;
        <br />
        <% @matrix.map do |k,v| %>
          <div class="row">
            <div class="col text-right">
              <p> <%= k.to_s.gsub('_', ' ').capitalize %> </p>
            </div>
            <div class="col-7 text-left">
              <p> <%= v[2] %> deaths per million.
                <span class="bold-white"><%= separate_comma(v[1]) %> </span>
                lives saved. </p>
            </div>
          </div>
        <% end %>

      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Built by @brainscraps and desperation</p>
      </div>
    </footer>
  </div>
</div>